!.env.example
!**/.env.example
v-env
__pycache__
.DS_Store
**/.vs/
**/node_modules/
**/*.crt
**/*.bak
**/*.gz
**/.env
**/.env-win
.env
.env-fe
.env-win
.env-fe-win
anyzearch.local.key
anyzearch.local.pfx
anyzearch.tar.gz