[submodule "browser-extension"]
	path = browser-extension
	url = https://github.com/iteasoft/AnyZearch-extension.git
[submodule "embed"]
	path = embed
	url = https://github.com/iteasoft/AnyZearch-embed.git
	branch = main
